body {
    font-family: "Montserrat", sans-serif;
    background-color: #fffaed; 
}

h1 {
    color: #9671ec;
    font-family: "Montserrat", sans-serif;
    font-size: 44px;
    font-weight: 700;
}

h3 {
    color: #9671ec;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 600;
}

img {
    border-radius: 15%;
}

hr {
    border: dotted #605678 8px;
    border-bottom: none;
    width: 10%;
    margin: 25px auto;
}

p {
    color: #605678;
}

footer {
    font-family: "Montserrat", sans-serif;
    margin-top: 75px;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #605678;
    background-color: #abdbc2
}

.navbar {
    font-family: "Montserrat", sans-serif;
    background-color: #605678;
}

.navbar-toggler {
    background-color: #FFBF61;
}

.navbar-brand {
    color: #FFBF61;
    font-weight: bolder;
}

.nav-link {
    font-family: "Montserrat", sans-serif;
    color: #FFBF61;
}

.nav-link:hover{
    font-family: "Montserrat", sans-serif;
    color: #9671ec;
    cursor: pointer; 
}

.navbar-toggler-icon {
    background-color: #FFBF61;
    border-radius: 15%;
}

.active {
    font-weight: bolder;
}

.dropdown-menu{
    background-color: #605678;
    color:#FFBF61
}

.lin {
    color: #FFBF61;
}

.lin:hover{
    background-color: #abdbc2;
    color:#605678;
    font-weight: 600;
}

.show {
    font-weight: 600;
}

.lead {
    color: #9671ec;
}

.blurb {
    padding: 12px;
    color: #605678;
}

a {
    color: #605678;
    font-weight: bolder;
}

a:hover {
    color: #9671ec;
    cursor: pointer;
}

.btn {
    margin-top: 15px;
    background: #abdbc2;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600px;
    color: #605678;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #9671ec;
    cursor: pointer;
}

.lead{
    font-weight: 500;
}
