.roboto-reg {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

#pos-body {
    background-color: black;
}

.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 25%;
    color: #f5f5f5;
    text-align: center;
}

#trnsfrm {
    text-transform: uppercase;
}

#pos-img {
    scale: .45;
}